body {
	background-color: $ecru;
}

h1, h2, h3, h4 {
	font-family: 'Open Sans', sans-serif;
}
h1 {
	font-size: $fs-h1--phone;
	font-weight: 400;
	color: darken($bleu, 6);
	letter-spacing: -1;
	border-bottom: 1px dotted #4A4A4A;
	@include breakpoint($small) {
		font-size: $fs-h1--desktop;
		padding-left: gutter();
	}
}
h2 {
	font-size: $fs-h2--phone;
	font-weight: 200;
	color: $bleu;
	@include breakpoint($small) {
		font-size: $fs-h2--desktop;
	}
}
h3 {
	font-size: $fs-h2--phone;
	font-weight: 200;
	color: lighten($bleu, 5);
	@include breakpoint($small) {
		font-size: $fs-h3--desktop;
	}
}
p {
	font-family: 'Lora', serif;
	line-height: $lh-p;
	hyphens: auto;
	@include breakpoint($small) {
		hyphens: none;
	}
}

a {
	font-family: 'Lora', serif;
	color: $rouge;
	display: inline-block;
	text-decoration: none;
	&:hover {
		color: lighten($rouge, 10);
	}
}

strong {
	color: darken($bleu, 10);
}