.wrapper {
    @include break;
    @include container();
    background-color : color-lighter(primary-color-light, 8);
    height           : auto;
    position         : relative;
    margin-top : gutter();
}

.l-container {
    @include container();
}