.icon {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 10px;
    background-color: $bleu;
    transition: right 0.3s ease;
    @include breakpoint($small) {
        display: none;
    }
}

.body-close {
    position: absolute;
    top: 0;
    right: 10em;
    width: 5em;
    height: 5em;
    z-index: 2;
    // pointer-events: none;
    z-index: 2;
    @include breakpoint($small) {
        z-index: 0;
    }
}

.off-canvas {
    position: fixed;
    right: -15em;
    width: 15em;
    height: 100%;
    background: #3F5357;
    transition: right 0.3s ease;
    z-index: 1;
}

.canvas {
    position: relative;
    left: 0;
    transition: left .3s ease;
}

.off-canvas:target {
    right: 0;
}

.off-canvas:target ~ .icon {
    right: 10em;
    top: 0;
    z-index: 1;
    background-color: #b6d5db;
    border: 8px solid $bleu;
    &:after {
        content: "\02DF";
        font-family: sans-serif;
        font-size: 10em;
        color: #BE311A;
        position: absolute;
        right: 14px;
        top: -32px;
    }
}

.off-canvas:target ~ .body-close {
    pointer-events: auto;
}

.off-canvas:target ~ .wrapper {
    left: -15em;
}

.off-canvas {
    h4 {
        padding-left: 40%;
        color: #b6d5db;
        font-size: 1.2em;
    }
    @include breakpoint($small) {
        right: 0;
        h4 {
            display: none;
        }
        @include span(7.5);
        height: auto;
        border-top: none;
        position: relative;
        background: $bleu;
    }

    @include breakpoint($large) {
        @include span(7.5 last);
    }
}

.navigation {
    @include breakpoint($small) {
        background: darken($bleu, 6);
        border-radius: 5px;
        width: 510px;
    }

    @include breakpoint($l-900) {
        width: 605px;
    }

    @include breakpoint($l-950) {
        width: 642px;
    }

    @include breakpoint($large) {
        margin-left: 100px;
    }
}

.navul {
    text-decoration: none;
    line-height: 60px;
    @include breakpoint($small) {
        margin: 0;
        padding-left: 0;
        line-height: 18px;
    }
}

.navli {
    list-style-type: none;
    width: 150px;
    padding-left: 20px;
    a {
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        color: $ecru;
    }
    @include breakpoint($small) {
        width: 62px;
        display: inline-block;
        padding-left: 5px;
        a {
            color: $ecru;
            font-size: 0.9em;
            text-decoration: none;
            display: block;
            padding: 20px 0 15px 0;
            text-align: center;
            line-height: 1.6em;
            &:hover {
                background: lighten($rouge, 15);
                color: lighten(#61A4B1, 35);
                transition: .3s ease-in-out;
                @include bleed-x(7px);
            }
        }
    }

    @include breakpoint($l-900) {
        width: 75px;
        padding-left: 6px;
        a {
            font-size: 1em;
        }
    }

    @include breakpoint($menu) {
        width: 80px;
        padding-right: 0;
    }
}

.active {
    background: $bleu;
    box-shadow: 3px 7px 0px darken($bleu, 6);
}

.content {
    width: 100%;
    height: 100vh;
    transition: margin-left .3s ease;
}