.canvas {
    position: relative;
    width: 100%;
    overflow: hidden;
}

label {
    float: right;
}

input {
    display: none;
}

// android
:checked {
    display: inline-block;
    margin: 3em;
    display: none;
}

// target the sibbling of input
input[type=checkbox]:checked + .off-canvas {
    right: 0;
}

input[type=checkbox]:checked + label {
    margin-right: 15em;
}

input[type=checkbox]:checked + .content {
    margin-left: -15em;
}

.open {
    cursor: pointer;
    margin-top: 25px;
    @include span(4 last);
    @include bleed-x(1.5em);
    z-index: 1;
    transition: margin-right .3s ease;
    @include breakpoint($small) {
        display: none;
    }
}

.close {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100vh;
    pointer-events: none;
}

input:checked ~ .close {
    pointer-events: auto;
}

.off-canvas {
    position: absolute;
    top: -6px;
    right: -15em;
    width: 15em;
    height: 200vh;
    background: #3F5357;
    transition: right .3s ease;
    z-index: 1;
    h4 {
        padding-left: span(1);
        color: $bleu;
        font-size: 1.2em;
    }
    @include breakpoint($small) {
        right: 0;
        h4 {
            display: none;
        }
        @include span(7.5);
        height: auto;
        border-top: none;
        position: relative;
        background: $bleu;
    }
    @include breakpoint($large) {
        @include span(7.5 last);
    }
}

.navigation {
    @include breakpoint($small) {
        background: darken($bleu, 6);
        border-radius: 5px;
        width: 510px;
    }

    @include breakpoint($l-900) {
        width: 605px;
    }
    @include breakpoint($l-950) {
        width: 642px;
    }
    @include breakpoint($large) {
        margin-left: 100px;
    }
}

.navul {
    text-decoration: none;
    line-height: 60px;
    @include breakpoint($small) {
        margin: 0;
        padding-left: 0;
        line-height: 18px;
    }
}

.navli {
    list-style-type: none;
    width: 150px;
    padding-left: 20px;
    a {
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        color: $ecru;
    }
    @include breakpoint($small) {
        width: 62px;
        display: inline-block;
        padding-left: 5px;
        a {
            color: $ecru;
            font-size: 0.9em;
            text-decoration: none;
            display: block;
            padding: 20px 0 15px 0;
            text-align: center;
            line-height: 1.6em;
            &:hover {
                background: lighten($rouge, 15);
                color: lighten(#61A4B1, 35);
                transition: .3s ease-in-out;
                @include bleed-x(7px);
            }
        }
    }

    @include breakpoint($l-900) {
        width: 75px;
        padding-left: 6px;
        a {
            font-size: 1em;
        }
    }

    @include breakpoint($menu) {
        width: 80px;
        padding-right: 0;
    }
}

.active {
    background: $bleu;
    box-shadow: 3px 7px 0px darken($bleu, 6);
}

.content {
    width: 100%;
    height: 100vh;
    transition: margin-left .3s ease;
}