@mixin trans-prep {
    // backface visibility
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    // Resets perspectives
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}

$off-canvas-width: 260px;

.menu {
    width: 5em;
    float: right;
    @include breakpoint($small) {
        display: none;
    }
}

.menu-toggle {
    position: relative;
    top: 22px;
    cursor: pointer;
}

.content {
    @include trans-prep;
    transition: transform 0.3s ease;
    &.is-open {
        transition: transform 0.3s ease;
        transform: translate3d(-$off-canvas-width, 0, 0);
    }
}

// close btn
.close {
    padding-left: 1.5em;
    @include breakpoint($small) {
        display: none;
    }
}

.close-btn {
    display: block;
    margin-top: 25px;
    height: 1.5em;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.3s ease;
    &:hover,
    &:active,
    &:focus {
        opacity: 1;
    }
}

.off-canvas {
    position: absolute;
    width: $off-canvas-width;
    right: -$off-canvas-width;
    top: 0;
    bottom: 0;
    height: 1000px;
    z-index: 2;
    background: #3F5357;
    @include breakpoint($small) {
        right: 0;
        @include span(7.5);
        height: auto;
        border-top: none;
        position: relative;
        background: $bleu;
    }

    @include breakpoint($large) {
        @include span(7.5 last);
    }
}

.on-canvas {
    position: relative;
    left: 0;
    overflow: hidden;
    transition: left .3s ease;
}

.navigation {
    @include breakpoint($small) {
        background: darken($bleu, 6);
        border-radius: 5px;
        width: 510px;
    }

    @include breakpoint($l-900) {
        width: 605px;
    }

    @include breakpoint($l-950) {
        width: 642px;
    }

    @include breakpoint($large) {
        margin-left: 100px;
    }
}

.navul {
    text-decoration: none;
    line-height: 50px;
    @include breakpoint($small) {
        margin: 0;
        padding-left: 0;
        line-height: 18px;
    }
}

.navli {
    list-style-type: none;
    width: 150px;
    padding-left: 4em;
    a {
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        color: $ecru;
    }
    @include breakpoint($small) {
        width: 62px;
        display: inline-block;
        padding-left: 5px;
        a {
            color: $ecru;
            font-size: 0.9em;
            text-decoration: none;
            display: block;
            padding: 20px 0 15px 0;
            text-align: center;
            line-height: 1.6em;
            &:hover {
                background: lighten($rouge, 15);
                color: lighten(#61A4B1, 35);
                transition: .3s ease-in-out;
                @include bleed-x(7px);
            }
        }
    }

    @include breakpoint($l-900) {
        width: 75px;
        padding-left: 6px;
        a {
            font-size: 1em;
        }
    }

    @include breakpoint($menu) {
        width: 80px;
        padding-right: 0;
    }
}

.active {
    background: $bleu;
    box-shadow: 3px 7px 0px darken($bleu, 6);
}

.content {
    width: 100%;
    height: 100vh;
    transition: margin-left .3s ease;
}