<footer class="site-footer" role="contentinfo">
	<div class="sitemap">
		<h3><i class="fa fa-sitemap"></i> Plan du site</h3>
		<nav>
			<ul>
				<li><a href="">Accueil</a></li>
				<li><a href="">EMDR enfants</a></li>
				<li><a href="">EMDR Adultes</a></li>
				<li><a href="">Suivi psychologique</a></li>
				<li><a href="">Bilans psychologiques</a></li>
				<li><a href="">Cabinet psychologue Biarritz</a></li>
				<li><a href="">A propos</a></li>
			</ul>
		</nav>
	</div>
	<div class="informations">
		<h3><i class="fa fa-info"></i> Informations</h3>
		<ul>
			<li><a href="">Mentions légales</a></li>
			<li><a href="">Copyright</a></li>
			<li><a href="">Crédits</a></li>
		</ul>
	</div>
	<div class="cabinet-footer">
		<h3><i class="fa fa-map-marker"></i> Cabinet de psychologie à Biarritz</h3>
		<ul>
			<li>Célie Favre</li>
			<li>4, rue de l'imprimerie</li>
			<li>64 200 Biarritz</li>
			<li>06 52 46 76 36</li>
		</ul>
	</div>
</footer>
</div>  <!-- end content -->
</div> <!-- end canvas -->