<footer class="site-footer" role="contentinfo">
	<div class="sitemap">
		<h3><i class="icon-sitemap"></i> Plan du site</h3>
		<nav>
			<ul>
				<li><a href="{{ prepend: site.url }}/">Accueil</a></li>
				<li><a href="{{ prepend: site.url }}/emdr-enfants/">EMDR enfants</a></li>
				<li><a href="{{ prepend: site.url }}/emdr-adultes/">EMDR Adultes</a></li>
				<li><a href="{{ prepend: site.url }}/emdr/">EMDR</a></li>
				<li><a href="{{ prepend: site.url }}/bilan-psychologique/">Bilans psychologiques</a></li>
				<li><a href="{{ prepend: site.url }}/cabinet-psychologue-biarritz/">Cabinet psychologue Biarritz</a></li>
				<li><a href="{{ prepend: site.url }}/psychologue-bayonne/">Cabinet psychologue Bayonne</a></li>
				<li><a href="{{ prepend: site.url }}/tarifs-psychologue/">Tarifs</a></li>
				<li><a href="{{ prepend: site.url }}/psychologue-favre/">&Agrave;propos</a></li>
				<li><a href="{{ prepend: site.url }}/sitemap/">Plan du site</a></li>
			</ul>
		</nav>
	</div>
	<div class="informations">
		<h3><i class="icon-info"></i> Informations</h3>
		<ul>
			<li><a href="{{ prepend: site.url }}/mentions-legales/">Mentions légales</a></li>
			<li>Touts droits réservés - 2015</li>
			<li>Réalisation technique et graphique : <a href="http://nicodev3.github.io/">Nicolas DEVAUX</a></li>
		</ul>
	</div>
	<div class="cabinet-footer">
		<h3><i class="icon-location"></i> Cabinet de psychologie à Biarritz</h3>
		<ul>
			<li>Célie Favre</li>
			<li>4, rue de l'imprimerie</li>
			<li>64 200 Biarritz</li>
			<li>06 52 46 76 36</li>
			<li>N° ADELI : 64 93 0651 1</li>
		</ul>
	</div>
</footer>
</div>  <!-- end content -->
</div> <!-- end canvas -->