<div class="canvas">

  <input type="checkbox" id="checkbox" />

  <div class="content">

    <header class="site-header">

      <a href="index.html" class="site-title">
        <img src="images/logo.png" alt="celie favre">
      </a>

      <label for="checkbox" class="open">&#9776; Menu</label>
      <label for="checkbox" class="close"></label>

      <section class="off-canvas">
        <h4>Navigation</h4>
        <nav class="navigation" role="navigation">
          <ul>
            <li><a href="#">Lien</a></li>
            <li><a href="#">Lien</a></li>
            <li><a href="#">Lien</a></li>
            <li><a href="#">Lien</a></li>
          </ul>
        </nav>
      </section>

    </header>
