.home-svg {
    width: 6em;
    margin: 0 auto;
}

.home-anim-word {
    display       : block;
    position      : absolute;
    bottom        : 10px;
    padding       : 10px;
    border-radius : 2px;
    background    : rgba(0, 61, 90, .8);
    color         : whitesmoke;
    font-family   : 'Open Sans', sans-serif;
    font-size     : 1em;

    @include susy-breakpoint($tablet-portrait) {
        font-size : 2em;
    }
}

.anim-cabinet {
    background : $rouge;
    color: #fff;
    line-height :2;
    font-size :1.2em;
    padding : gutter();
    margin :0 0 1em 0;
}

.anim-svg {
    width: 8em;
}

.svg-car {
    fill: color(primary-color);
}

.svg-permis {
    fill: color(accent-color);
}