.main-content {
    @include full;
    @include pad(5%);
    section {
        padding-top: 32px;
        padding-bottom: 32px;
        @include breakpoint($small) {
            height: em(820px);
        }
    }
}
.content-left {
    @include breakpoint($small) {
        @include span(6);
    }
}

.content-right {
    @include breakpoint($small) {
        @include span(6 last);
    }
}
.info {
    padding: 5px 0 5px 30px;
    color: darken($bleu, 20);
    border-radius: 15px;
    border-left: 5px solid $rouge;
    margin-left: 3%;
}
.rang-un {
    @include break;
    @include container(95%);
    margin-top: 2em;
    @include breakpoint($large) {
        @include container(90%);
    }
}

.carre {
    a {
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        color: $rouge;
        display: inline;
    }
    h1 {
        padding-left: 0;
    }
    h2 {
        margin: 0.67em 0;
    }
    h1, h2 {
        margin-bottom: 40px;
        font-size: 1.5em;
        color: $rouge;
        padding-bottom: 8px;
        border-bottom: 1px dotted #4A4A4A;
        text-align: center;
        font-weight: 500;
    }
    p {
        color: #4A4A4A;
    }
    @include breakpoint($small) {
        min-height: em(330px);
        position: relative;
        display: table;
    }

    @include breakpoint($medium) {
        min-height: 320px;
    }
    @include breakpoint($l-900) {
        min-height: 270px;
    }
    @include breakpoint($large) {
        min-height: 290px;
    }
    @include breakpoint($l-1300) {
        min-height: 250px;
    }
}

.carre p:last-of-type {
    &:before {
        content: '\003E';
        color: $rouge;
        font-size: 1.2em;
    }
    @include breakpoint($small) {
        display: table-footer-group;
        border: 1px dashed black;
    }
}

.emdr {
    @include breakpoint($small) {
        @include span(4);
        @include pad(1%);
    }
}

.evaluation {
    @include breakpoint($small) {
        @include span(4);
        @include pad(1%);
    }
}

.suivi {
    @include breakpoint($small) {
        @include span(4 last);
        @include pad(1%);
    }
}

.lien-dans-carre {
    &:hover {
        background: darken($ecru, 10);
        padding: 0 2px 0 2px;
        border-radius: 10px;
        color: lighten($rouge, 10);
        transition: .3s ease-in-out;
    }
    @include breakpoint($small) {
        display: block;
        text-align: center;
        line-height: 30px;
    }
}

#schema {
    font-family: Georgia, serif;
    color: #4A4A4A;
    span {
        line-height: $lh-p;
    }
}

.map {
    max-width: 100%;
    height: auto;
    margin-bottom: 3em;
}

.tel {
    display: block;
    padding-top: 20px;
    color: $rouge;
    &:before {
        content: 'Contact et rv : ';
        color: #4A4A4A;
    }
}