.site-footer {
    margin-top  : span(1);
    padding-top : gutter();
    background  : $bleu url('/images/footer.png') no-repeat bottom / cover;

    @include full;
    @include susy-breakpoint($tablet-portrait) {
        margin-top : gutter();
    }
}

.sitemap {
    @include susy-breakpoint($tablet-portrait) {
        @include span(4);
        @include prefix(10%);
    }
}

.informations {
    @include susy-breakpoint($tablet-portrait) {
        @include span(4);
        @include prefix(10%);
    }
}

.cabinet-footer {
    @include susy-breakpoint($tablet-portrait) {
        @include span(4 last);
        @include prefix(5%);
    }
}

.sitemap,
.informations,
.cabinet-footer {
    margin-left : span(3);

    @include susy-breakpoint($tablet-portrait) {
        margin-left : 0;
    }
    h3 {
        color : lighten(#61a4b1, 25);
    }
    ul {
        padding-left    : 0;
        line-height     : 25px;

        list-style-type : none;
    }

    a,
    li {
        color       : rgba(168, 201, 209, .7);
        font-family : 'Open Sans', sans-serif;
    }
    a:hover {
        color : $ecru;
    }
}

.fa-info,
.fa-sitemap,
.fa-map-marker {
    &:before {
        color     : $ecru;
        font-size : em(20px);
    }
}

.fa {
    color : $rouge;
}

.fa-child:before,
.fa-eye:before {
    font-size : 1.5em;
}

.plan-site li {
    font-size       : 2em;

    list-style-type : none;

    a {
        font-family : 'Open Sans';
    }
}
