.site-footer {
    @include full;
    background-color: $bleu;
    background-image: url("/images/footer.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 1136px 283px;
    background-attachment: fixed;
    padding-top: 2em;
    margin-top: span(1);
    @include susy-breakpoint($tablet-portrait) {
       margin-top: 47px; 
    }
}

.sitemap {
    @include susy-breakpoint($tablet-portrait) {
        @include span(4);
        @include prefix(10%);
    }
}

.informations {
    @include susy-breakpoint($tablet-portrait) {
        @include span(4);
        @include prefix(10%);
    }
}

.cabinet-footer {
    @include susy-breakpoint($tablet-portrait) {
        @include span(4 last);
        @include prefix(5%);
    }
}

.sitemap, .informations, .cabinet-footer {
    margin-left: span(3);
    @include susy-breakpoint($tablet-portrait) {
        margin-left: 0;
    }
    h3 {
        color: lighten(#61A4B1, 25);
    }
    ul {
        padding-left: 0;
        list-style-type: none;
        line-height: 25px;
    }
    a {

    }
    a, li {
        font-family: 'Open Sans', sans-serif;
        color: rgba(168, 201, 209, .7);
    }
    a:hover {
        color: $ecru;
    }
}

.fa-info, .fa-sitemap, .fa-map-marker {
    &:before {
        color: $ecru;
        font-size: em(20px);
    }
}

.fa {
    color: $rouge;
}
.fa-child:before, .fa-eye:before {
    font-size: 1.5em;
}