.site-header {
	height     : em(100px);
	position   : relative;
	background : $bleu;

	@include susy-breakpoint($tablet-portrait) {
		height : em(120px);
	}

	@include susy-breakpoint($tablet-paysage) {
		height : em(125px);
	}

	// super important sinon off-canvas marche pas, pourquoi???
}

.site-title {
	@include span(50px);
    margin-left : 10px;
	margin-top : 5px;
	border     : none;

	&:hover {
		transform        : rotateX(360deg);
		transform-origin : middle;
		transition       : 1s ease-in-out;
	}

	@include susy-breakpoint($tablet-portrait) {
		@include span(100px);
		margin-left : 0;
	}

	@include susy-breakpoint($tablet-paysage) {
		margin-left : gutter();
	}
}

.logo {
	width  : 90px;
	height : 90px;
	@include susy-breakpoint($tablet-portrait) {
		width  : 110px;
		height : 110px;
	}
}

.celie {
	font-size     : 1.3em;
	line-height   : 30px;
	color         : lighten(#61a4b1, 25);
	font-family   : 'Parisienne', cursive;
	margin-top    : 16px;
	margin-bottom : 16px;
	@include span(4.1);

	@include susy-breakpoint($tablet-portrait) {
		font-size     : 1.4em;
		margin-top    : 20px;
		margin-bottom : 0;
		line-height   : 40px;
		@include span(170px);

	}
}

.hero {
	@include container(100%);
	margin-top           : 0;
	margin-left          : -5px;
	border               : 5px solid transparent;
	-moz-border-image    : -moz-linear-gradient(top left, #3078a8 0%, #f4c377 100%);
	-webkit-border-image : -webkit-linear-gradient(top left, #3078a8 0%, #f4c377 100%);
	border-image         : linear-gradient(to bottom right, #3078a8 0%, #f4c377 100%);
	border-image-slice   : 1;
	background-image     : url("/images/psychomob.jpg");
	background-position  : center center;
	background-repeat    : no-repeat;
	background-size      : cover;
	width                : 100%;
	height               : 116px;


	@include susy-breakpoint($tablet-portrait) {
		background          : url("/images/psycho1000.jpg");
		background-position : center center;
		background-repeat   : no-repeat;
		background-size     : cover;
		height              : 333px;
	}
}

.essai {
	@include full;
}