.site-header {
    position   : relative;
    height     : em(100px);
    background : $bleu;

    @include susy-breakpoint($tablet-portrait) {
        height : em(120px);
    }
    @include susy-breakpoint($tablet-paysage) {
        height : em(125px);
    }

    // super important sinon off-canvas marche pas, pourquoi???
}

.site-title {
    margin-top  : 5px;
    margin-left : 10px;
    border      : none;

    @include span(50px);
    @include susy-breakpoint($tablet-portrait) {
        margin-left : 0;

        @include span(100px);
    }
    @include susy-breakpoint($tablet-paysage) {
        margin-left : gutter();
    }

    &:hover {
        transform        : rotateX(360deg);
        transition       : 1s ease-in-out;

        transform-origin : middle;
    }
}

.logo {
    width  : 90px;
    height : 90px;

    @include susy-breakpoint($tablet-portrait) {
        width  : 110px;
        height : 110px;
    }
}

.celie {
    margin-top    : 16px;
    margin-bottom : 16px;
    margin-left   : 40px;
    color         : lighten(#61a4b1, 25);
    font-family   : 'Parisienne', cursive;
    font-size     : 1.3em;
    line-height   : 30px;

    @include span(4.4);
    @include susy-breakpoint($tablet-portrait) {
        margin      : 20px 0 0 20px;
        font-size   : 1.4em;
        line-height : 40px;

        @include span(180px);
    }
    @include susy-breakpoint($tablet-paysage) {
        @include span(110px);
    }
    @include susy-breakpoint($desktop) {
        font-size : 2em;

        @include span(170px);
    }
}

.hero {
    position   : relative;
    width      : 100%;
    height     : 7em;
    background : RGBA(0, 61, 90, 1) url('/images/psychomob.jpg') no-repeat center center / cover;

    @include susy-breakpoint($tablet-portrait) {
        height     : 17em;
        background : RGBA(0, 61, 90, 1) url('/images/psycho520.jpg') no-repeat center center / cover;
    }
    @include susy-breakpoint($tablet-paysage) {
        height     : 18em;
        background : RGBA(0, 61, 90, 1) url('/images/psychofull.jpg') no-repeat center center / cover;
    }
}
