<!DOCTYPE html>
<html lang="fr">
	{% include head.html %}
	<body>
		{% include header.html %}
		<div class="wrapper">
			{{ content }}
		</div>
		{% include footer.html %}
		<script src = "//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" ></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
		<script src="{{ '/js/DrawSVGPlugin.min.js' | prepend: site.baseurl }}"></script>
		<script src="{{ '/js/dropdown.min.js' | prepend: site.baseurl }}"></script>
		<script src="{{ '/js/transition.min.js' | prepend: site.baseurl }}"></script>
		<script src="{{ '/js/main.js'  | prepend: site.baseurl }}"></script>
	</body>
</html>