<!DOCTYPE html>
<html lang="fr">
	{% include head.html %}
	<body>
		{% include header.html %}
		<div class="wrapper">
			<div class="main-content">
				<h1 class="titre-article">{{ page.title }}</h1>
				<p>{{ post.title }}</p>
				<div class="content-left">
					{{ content }}
				</div>
				<div class="content-right">
					<h2>Articles récents</h2>
					<ul class="post-list">
						{% for post in site.posts %}
							<li>
								<a href="{{ post.url }}">{{ post.title }}</a>
							<li>{% assign m = page.date | date: "%-m" %}
								{{ page.date | date: "%-d" }}
								{% case m %}
									{% when '1' %}Janvier
									{% when '2' %}Février
									{% when '3' %}Mars
									{% when '4' %}Avril
									{% when '5' %}Mai
									{% when '6' %}Juin
									{% when '7' %}Juillet
									{% when '8' %}Aout
									{% when '9' %}Septembre
									{% when '10' %}Octobre
									{% when '11' %}Novembre
									{% when '12' %}Décembre
									{% endcase %}
								{{ page.date | date: "%Y" }}</li>
						</li>
						
					{% endfor %}
				</ul>
			</div>
			
		</div>
	</div>
	{% include footer.html %}
</body>
</html>